/* Import Roboto 400 weight from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/* Remove bullets for list items */
nav ul {
  list-style: none;
}

/* General styling of nav-bar elements */
nav ul li,
div.button {
  display: block;
  width: 100%;
  background-color: #424651;
  text-align: center;
  font-size: 1.2em;
}

div.button {
  height: 4em;
  background-color: #fb8f67;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fb8f67;
  height: 2.5em;
}

nav ul li a:hover {
  color: #bce7fd;
}

header {
  background-image: url(../images/beans.jpg);
  background-size: cover;
  padding: 3em;
  text-align: center;
  color: white;
  border-top: 0.5em solid chocolate;
  border-bottom: 0.5em solid chocolate;
}

header h1 {
  font-size: 6em;
  padding-top: 0.5em;
  margin-bottom: 0.75em;
}

header p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 1.2em;
}

a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #fb8f67;
  color: black;
  margin: 1em;
  padding: 1.5em;
  border-radius: 1em;
}

a.button:hover {
  background-color: black;
  color: white;
}

/* Styling for larger screens */
@media screen and (min-width: 600px) {
  nav {
    background-color: #424651;
  }

  nav ul li {
    display: inline-block;
    width: 8em;
  }
}
